<%= render partial: 'shared/header', locals: {caption: 'Register'} %>
<%= render 'shared/arrow_back' %>

<main>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.text_field :name, autocomplete: "name", placeholder: 'Name', required: true, class: "field" %>
      </div>

      <div>
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', required: true, class: "field" %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", required: true, class: "field" %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", required: true, class: "field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'login reg-btn' %>
      </div>
    <% end %>
  </div>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>
</main>
