<%= render partial: 'shared/header', locals: {caption: 'Login'} %>
<%= render 'shared/arrow_back' %>

<main>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>

      <div>
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', required: true, class: "field" %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required: true, class: "field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'login login-btn' %>
      </div>
    <% end %>
  </div>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>
</main>
